build-ubuntu-gtk2:
  image: ubuntu:rolling
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends
        build-essential
        autoconf
        autopoint
        automake
        gettext
        gcc
        libgtk2.0-dev
        libgmime-3.0-dev
        libgtkspell-dev
        libenchant-dev
        libnotify-dev
        gnome-keyring
        libgnutls28-dev
        yelp-tools
  script:
    - ./autogen.sh --without-gtk3 --with-gnutls --with-dbus --with-gmime-crypto --with-gtkspell --enable-libnotify --enable-gkr --enable-manual --with-gmime30
    - make
    - make check

build-ubuntu-gtk3:
  image: ubuntu:rolling
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends
        build-essential
        autoconf
        autopoint
        automake
        gettext
        gcc
        libglib2.0-dev-bin
        libdbus-1-dev
        libgcr-3-dev
        libgmime-3.0-dev
        libgnutls28-dev
        libgtk-3-dev
        libgtkspell-dev
        libnotify-dev
        libsecret-1-dev
        libgtkspell3-3-dev
        yelp-tools

  script:
    - ./autogen.sh --with-gtk3 --with-gnutls --with-dbus --with-gmime-crypto --with-gtkspell --enable-libnotify --enable-gkr --enable-manual --with-gmime30
    - make
    - make check
