stages:
  - build

variables:
  DEBIAN_FRONTEND: noninteractive

build-ubuntu-gtk2:
  image: ubuntu:rolling
  stage: build
  except:
    - tags
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends
        build-essential
        autoconf
        autopoint
        automake
        gettext
        gcc
        libgtk2.0-dev
        libgmime-3.0-dev
        libnotify-dev
        gnome-keyring
        libgnutls28-dev
        yelp-tools
  script:
    - head -15 configure.ac
    - mkdir _build
    - cd _build
    - ../autogen.sh --with-gtk2 --with-gnutls --with-dbus --with-gmime-crypto --without-gtkspell --enable-libnotify --enable-gkr --enable-manual
    - make
    - make distcheck

build-ubuntu-gtk3:
  image: ubuntu:rolling
  stage: build
  except:
    - tags
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends
        build-essential
        autoconf
        autopoint
        automake
        gettext
        gcc
        libglib2.0-dev-bin
        libdbus-1-dev
        libgcr-3-dev
        libgmime-3.0-dev
        libgnutls28-dev
        libgtk-3-dev
        libnotify-dev
        libsecret-1-dev
        libgtkspell3-3-dev
        libenchant-2-dev
        yelp-tools
  script:
    - mkdir _build
    - cd _build
    - ../autogen.sh --with-gnutls --with-dbus --with-gmime-crypto --with-gtkspell --enable-libnotify --enable-gkr --enable-manual
    - make
    - make dist
