*~
aclocal.m4
autom4te.cache
*.bak
build/
config.guess
config.h.in
config.log
config.sub
configure
depcomp
.deps
gnome-doc-utils.m4
gnome-doc-utils.make
help/*.omf
INSTALL
install-sh
intltool-*
Makefile.in*
missing
mkinstalldirs
pan.desktop
pan_git_rev
pan/data/decode-test-cache/Makefile
pan/icons/pan-pixbufs.h
pan/icons/pan-pixbufs-internal.h
po/Makefile.in.in
Thumbs.db
.waf*/
waf*/

