stages:
  - build

variables:
  DEBIAN_FRONTEND: noninteractive

cmake-debian:
  image: debian:sid-slim
  stage: build
  variables:
    BUILD_DIR: cmake-build
  except:
    - tags
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends
        build-essential
        cmake
        gettext
        gcc
        itstool
        libglib2.0-dev-bin
        libcppunit-dev
        libdbus-1-dev
        libgcr-3-dev
        libgmime-3.0-dev
        libgnutls28-dev
        libgtk-3-dev
        liblog4cxx-dev
        libnotify-dev
        libsecret-1-dev
        libgspell-1-dev
        libsqlitecpp-dev
  script:
    - mkdir $BUILD_DIR
    - >-
      cmake
      -DENABLE_MANUAL=1
      -DWANT_DBUS=1
      -DWANT_GKR=1
      -DWANT_NOTIFY=1
      -B $BUILD_DIR
    - cmake --build $BUILD_DIR

cmake-debian-bare-bones:
  image: debian:sid-slim
  stage: build
  variables:
    BUILD_DIR: cmake-build
  except:
    - tags
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends
        build-essential
        cmake
        gettext
        gcc
        libcppunit-dev
        libglib2.0-dev-bin
        libgmime-3.0-dev
        liblog4cxx-dev
        libgtk-3-dev
        libsecret-1-dev
        libsqlitecpp-dev
  script:
    - mkdir $BUILD_DIR
    - >-
      cmake
      -D WANT_GNUTLS=off
      -D WANT_GSPELL=off
      -B $BUILD_DIR
    - cmake --build $BUILD_DIR
