*~
ABOUT-NLS
aclocal.m4
autom4te.cache
*.bak
build/
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
.deps
INSTALL
install-sh
m4/
Makefile
Makefile.in*
missing
mkinstalldirs
pan.desktop
pan-git.version
pan/icons/pan-pixbufs.h
pan/icons/pan-pixbufs-internal.h
pan.iss
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/*.gmo
po/insert-header.sin
po/Makevars.template
po/pan.pot
po/POTFILES
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
po/stamp-po
README.windows
stamp-h1
Thumbs.db
.waf*/
waf*/
