*~
ABOUT-NLS
*.a
*.bak
*.exe
*.o
build/
ChangeLog
.deps
help/*/*.mo
help/*/*.stamp
help/*/index.docbook
!help/C/index.docbook
install-sh
missing
mkinstalldirs
org.gnome.pan.desktop
org.gnome.pan.metainfo.xml
pan-git.version
pan/icons/pan-pixbufs.h
pan/icons/pan-pixbufs-internal.h
pan.iss
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/*.gmo
po/insert-header.sin
po/Makevars.template
po/pan.pot
po/POTFILES
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/Rules-quot
po/stamp-po
README.windows
stamp-h1
Thumbs.db
.waf*/
waf*/
cppcheck-*.log.txt
*.gcov
*.gcda
*.gcno
*-test.log
*-test.trs
test-suite.log
test-driver
std-build/
compile_commands.json
