// Wormux resource for win32 target

#include <winuser.h>
#include <winver.h>
#include "config.h"
#if ENABLE_NLS
#  define IS_NLS_ENABLED "yes"
#else
#  define IS_NLS_ENABLED "no"
#endif

#ifndef VERSION_MAJOR
#define VERSION_MAJOR 0
#endif

#ifndef VERSION_MINOR
#define VERSION_MINOR 0
#endif

#ifndef VERSION_PATCH
#define VERSION_PATCH 0
#endif

#ifndef VERSION_TWEAK
#define VERSION_TWEAK 0
#endif

1 VERSIONINFO
FILEVERSION    VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_TWEAK
PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_TWEAK
FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004b0"
        {
            VALUE "Comments","Localization support: " IS_NLS_ENABLED "."
            VALUE "CompanyName", "\000"
            VALUE "FileDescription", "Pan Newsreader"
            VALUE "FileVersion", PACKAGE_VERSION
            VALUE "InternalName", "pan"
            VALUE "LegalCopyright", "Copyright (C) 2002-2024 Charles Kerr and others"
            VALUE "LegalTrademarks", "GPL 2"
            VALUE "OriginalFilename", "pan.exe"
            VALUE "ProductName", "pan"
            VALUE "ProductVersion", PACKAGE_VERSION
            VALUE "SpecialBuild", "Build date: " __DATE__ ", " __TIME__ " with compiler version " __VERSION__
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0, 1200
    }
}

IDI_ICON1 ICON DISCARDABLE "../icons/Pan.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "pan.manifest.xml"
